.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #282c34;
  color: white;
  text-align: center;
}

.board {
  background-color: aliceblue;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
  overflow: hidden;
  color: black;
  font-size: 20px;
}
.inputSpace {
  margin-right: 10px;
  writing-mode: horizontal-tb;
}
input {
  margin-right: 10px;
}
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.todo-text {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 8px;
}

.todo-button {
  margin-left: 10px;
}

.todo-checkbox {
  margin-right: 8px;
}
